/* Write your CSS here */
.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.details {
  color: #64748b;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
}

.register-img {
  height: 380px;
}

.text {
  color: #475569;
  font-family: Roboto;
  font-size: 17px;
}

.register-btn {
  background-color: #0967d2;
  height: 40px;
  width: 250px;
  color: #f8fafc;
  font-family: Roboto;
  font-size: 15px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 45px;
}

.register-text {
  color: #323f4b;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
}

.registered-img {
  height: 185px;
}

.closed {
  color: #475569;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
}
